/* 
   Google Fonts
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* 
   Root 
 */
:root {
  /* Colors */
  --white-color: #ffffff;
  --dark-color: #1b1b1b;

  --primary-color: #255999;
  --primary-2-color:#3D639A;  /* Poké Mart blue */
  --secondary-color: #e53935; /* Poké Ball red */
  --accent-color: #f5f5f5;
  --medium-gray-color: #cfcfcf;

  /* Font sizes */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Layout */
  --site-max-width: 1300px;
}

/* 
   Base 
*/
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  width: 100%;
}

.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}

/*
   Section Title
 */
section .section-title {
  text-align: center;
  padding: 60px 0 100px;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--primary-color);
}

section .section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 12px auto 0;
  background: var(--secondary-color);
  border-radius: var(--border-radius-s);
}

/* 
   Navbar
 */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.navbar .logo .logo_txt {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .navmenu {
  display: flex;
  gap: 10px;
}

.navbar .navmenu .nav_itemlink {
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .navmenu .nav_itemlink:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-icon {
    width: 28px;
    height: 28px;
    image-rendering: pixelated;
  }

/* 
   Hero Section
 */
.hero-section {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    
    var(--primary-2-color) 100%
  );
}

.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 80px;
}

.hero-details {
  color: var(--white-color);
}

.hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
}

.hero-details .subtitle {
  margin-top: 8px;
  max-width: 70%;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.hero-details .description {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}

.hero-details .buttons {
  display: flex;
  gap: 22px;
}

.hero-details .button {
  padding: 10px 28px;
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  color: var(--white-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.hero-details .button:hover {
  background: transparent;
  border-color: var(--white-color);
}

.hero-image-wrapper {
  max-width: 500px;
}

/* 
   About Section
 */
.about-section {
  padding: 120px 0;
  background: var(--accent-color);
}

.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
}

.about-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
  border: 6px solid var(--primary-color);
}

.about-details {
  max-width: 50%;
}

.about-details .text {
  margin-top: 30px;
  line-height: 30px;
  font-size: var(--font-size-m);
  text-align: center;
}

/* 
   Items / menu section
 */
.menu-section {
  background: #b0b0b0;
  padding: 60px 0 120px;
  color: #1A1A1A;

}

.menu-section .menu-list {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  width: calc(100% / 3 - 100px);
  text-align: center;
}

.menu-image {
  max-width: 180px;
  margin-bottom: 20px;
}

.menu-item .name {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
}

.menu-item .text {
  margin-top: 10px;
  font-size: var(--font-size-m);
}

/* 
   Testimonials 
 */
.testimonials-section {
  background: var(--accent-color);
  padding: 60px 0 120px;
}

.testimonial {
  padding: 30px;
  text-align: center;
}

.user-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
  
  margin-bottom: 30px;
}

.testimonial .name {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
}

.testimonial .feedback {
  margin-top: 12px;
  font-size: var(--font-size-s);
  line-height: 24px;
}

/*  
   Gallery
 */
.gallery-section {
  padding: 60px 0 120px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.gallery-item {
  width: calc(100% / 3 - 32px);
  overflow: hidden;
  border-radius: var(--border-radius-s);
  border: 3px solid var(--primary-color);
}

.gallery-image {
  transition: transform 0.3s ease;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.15);
}

/* 
   Contact section
 */
.contact-section {
    padding: 80px 0 120px;
    background: var(--accent-color);
  }
  
  .contact-wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: space-between;
  }
  
  /* LEFT SIDE */
  .contact-info-list {
    max-width: 45%;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 22px;
    font-size: var(--font-size-m);
    color: var(--dark-color);
  }
  
  .contact-info .icon {
    font-size: 1.4rem;
  }
  
  /* RIGHT SIDE  */
  .contact-form {
    background: var(--white-color);
    padding: 35px;
    border-radius: 18px;
    width: 100%;
    max-width: 480px;
  }
  
  .form-input {
    width: 100%;
    height: 50px;
    margin-bottom: 16px;
    padding: 0 14px;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--medium-gray-color);
    font-size: var(--font-size-s);
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--secondary-color);
  }
  
  .contact-form textarea.form-input {
    height: 110px;
    padding: 12px;
    resize: none;
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: var(--border-radius-m);
    background: var(--secondary-color);
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
  }
  
  .submit-button:hover {
    background: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }
  
  
/* 
   Footer
 */
.footer-section {
  padding: 20px 0;
  background: var(--dark-color);
}

.footer-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-section p {
  color: var(--white-color);
  font-size: var(--font-size-s);
}

/* 
   Responsive
 */
@media screen and (max-width: 900px) {
  .hero-section .section-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-details .subtitle,
  .hero-details .description {
    max-width: 100%;
  }

  .about-section .section-content {
    flex-direction: column-reverse;
  }

  .menu-item,
  .gallery-item {
    width: 100%;
  }
  .contact-wrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .contact-info-list,
  .contact-form {
    max-width: 100%;
  }

  .footer-section .section-content {
    flex-direction: column;
    gap: 12px;
  }
}
